/* 
    Document   : registroPersona
    Created on : 27-abr-2014, 1:46:03
    Author     : andyhenry
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

#cont-form{  
width: 25%;
padding: 30px;
float:left;
border-right: 2px solid #69d2e7; 
height:85%;
}
#cont-consulta{
 width: 62%;
 float:right;  
 padding: 30px;
 height:85%;
}
#tablaConsulta{  
  margin-top: 10%;
 width:100%; 
 overflow-x:hidden;
 height:70%;
}
.title{
color:#f38631;
font-family: Arial, Helvetica, sans-serif;   
font-size:14px;           
}
h2{
color:#f38631;
font-family: Arial, Helvetica, sans-serif;   
font-size: 20px;   
}

  .box-text{
               outline: none;
                width: 100%;
                padding: 10px 5px 5px 10px; 
		color: #000000; 
		font-family: Arial, Helvetica, sans-serif;   
		font-size: 14px; 
		border: 1px solid #c9c9c9 ;
                margin-top:3px;
}
          
   .box-text:focus{
                outline: 0;
		border: 1px solid #000000;
}
.box-text-disable{
               outline: none;
                width: 100%;
                padding: 10px 5px 5px 10px; 
		color: #00a8c5; 
		font-family: Arial, Helvetica, sans-serif;   
		font-size: 14px; 
		border: 1px solid #ffffff;
                margin-top:3px;
}

#titulo{
  width: 50%;  
  float:left;
  font: normal 12px Arial, sans-serif;
  color:#0090d9;
  margin-left: 10px;
  padding-top: 15px;
}
