/* 
    Document   : registroPersona
    Created on : 27-abr-2014, 1:46:03
    Author     : JuanMi Martinez
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.tablaRegsitro{
    margin-left: 5%;
    margin-top: 5%;
    width: 80%;
    height: 40%;
    
}

.tablaRegsitro td{
    text-align: right;
 }
 
 input { 
font-family: 'Arial';
font-weight: bold;
    border-radius:0px;
	width:100%;
	color:#000;
	border:1px solid #c3c3c3;
	padding:15px;
	margin-bottom:10px;
	-moz-box-shadow:inset 0 0 5px #c3c3c3;
    -webkit-box-shadow:inset 0 0 5px #c3c3c3;
     box-shadow:inset 0 0 5px #c3c3c3;
margin-left: 5%;     
}

