/* 
    Document   : style-index
    Created on : 27/04/2014, 12:35:38 AM
    Author     : andy henry
    Description:
        Purpose of the stylesheet follows.
*/



root { 
    display: block;
}

*{ margin-top: 0;
    margin-bottom: 0;
    padding: 0;  
}

html,body{
height: 100%;
margin:0;
font-family: 'Arial';
font-size: 12px;
line-height: 1;
}

a{
 text-decoration: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

/****** menu *****************/
#menu{
float:left;    
width:20%;
height:100%;
background:#a7dbd7;
}
 
#cont-title{
 width:100%;   
 background:#69d2e7;
 height: 45px;
 padding-top: 20px;
 text-align: center;
 border-bottom:2px solid #0090d9; 
}

#cont-title h1{
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    color:#FFFFFF;
     text-shadow:0px 1px 0px rgba(0,0,0, .35);
}
#hora{
 margin-top:3px; 
 font-size:10px;
 color:#ffffff;
  text-shadow:0px 1px 0px rgba(0,0,0, .35);
}
#cont-title h1 spam{
    font-family: Arial;
    font-size: 16px;
    font-style: italic;
    color:#FFFFFF;
}

/***********************cuerpo*******************/
#cuerpo{
float:left;    
width:80%;
height: 100%;
}

#menu-horizontal{
 width:100%;   
 background:#ffffff;
 height:65px; 
 border-bottom:2px solid #0090d9; 
}
#cont-logo{
 margin-top: 3px;
 margin-right:10px; 
 width: 150px;
 height: 100%;
 float:right;
}

/* VENTANA FLOTANTE*/

 .overlay{
     display: none;
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: #000;
     z-index:1001;
     opacity:.90;
     -moz-opacity: 0.90;
     filter: alpha(opacity=90);
}

.modal {
     display: none;
     position: absolute;
     top: 25%;
     left: 20%;
     width: 60%;
     height: 50%;
     background: #fff;
     border: #b0b4b6 1px solid;
     z-index:1002;
     overflow: auto;
     border-radius: 5px;
}

.modal1 {
     display: none;
     position: absolute;
     top: 10%;
     left: 20%;
     width: 60%;
     height: 80%;
     background: #fff;
     border: #b0b4b6 1px solid;
     z-index:1002;
     overflow: auto;
     border-radius: 5px;
}

/* FIN DE VENTANA FLOTANTE */


 #overlay{
     display: none;
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: #000;
     z-index:1001;
     opacity:.40;
     -moz-opacity: 0.40;
     filter: alpha(opacity=40);
}

#mensaje{
     display: none;
     position: absolute;
     top: 40%;
     left: 35%;
     width: 30%;
     height: 20%;
     background: #fff;
     border: #b0b4b6 1px solid;
     border-radius: 5px;
     z-index:1002;
     overflow: auto;
    -webkit-box-shadow: 4px 10px 13px -2px rgba(0,0,0,0.3);
    -moz-box-shadow: 4px 10px 13px -2px rgba(0,0,0,0.3);
    box-shadow: 4px 10px 13px -2px rgba(0,0,0,0.3);
}